name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'CODE_OF_CONDUCT.md'
      - '.editorconfig'
      - '.spi.yml'
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: macos-15
    env:
      DEVELOPER_DIR: /Applications/Xcode_26.0.app
    strategy:
      matrix:
        destination:
          - "platform=macOS"
          - "platform=macOS,variant=Mac Catalyst"
          - "platform=iOS Simulator,name=iPhone 16e"
          - "platform=tvOS Simulator,name=Apple TV,OS=26.0"
          - "platform=watchOS Simulator,name=Apple Watch Series 11 (42mm),OS=26.0"
          - "platform=visionOS Simulator,name=Apple Vision Pro,OS=26.0"
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Test platform ${{ matrix.destination }}
        run: set -o pipefail && xcodebuild -scheme Neon -destination "${{ matrix.destination }}" test | xcbeautify
